Wrong Codes Generated

When scanning a QR code with the following URL format:

[otpauth://totp/somename?secret=somesecretkey&algorithm=SHA1&digits=6&period=60&issuer=someissuer](url)

The account is created, but the codes generated are wrong, and cannot be authenticated. However, scanning the same QR code with the Google Authenticator iOS app generate codes that can be authenticated.

Have you tried hitting "Sync Clock with Google" in the menu and trying again?

If the above does not work can you generate an example secret that has the issue?

Yup, have already tried syncing, but the problem still persists.

Have generated another secret (bloz6njz26qdqr2pl7mddlne5mq7azvn) along with the QR code:

![get-frame](https://user-images.githubusercontent.com/1021142/39560652-64ba29ac-4ed2-11e8-8ce1-d57452a0d8ed.png)


I'm afraid I can't reproduce the issue. I've tried to match it with Google and Microsoft Authenticator and I can't seem to figure out what's going on.

- Try entering the secret into Authenticator using 'Manual Entry'
- [Try to correct Google Authenticator's time](https://support.google.com/accounts/answer/2653433?visit_id=1-636610666598232663-333511411&p=timesync&rd=1)
- Authenticator ignores the `period`, `digits`, and `algorithm` parameters. See more [here](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#parameters). According to [RFC 6238 section 5.2](https://tools.ietf.org/html/rfc6238#section-5.2) it is recommended to use a 30 second period.

@mymindstorm After some experimentation, I've some weird findings. The TOTP generated via Google Chrome extensions seem to all generate the same TOTP, but they cannot be authenticated:
- Authenticator (Chrome)
- 1Password (Chrome)

TOTPs generated by external apps can be authenticated successfully:
- Google Authenticator (iOS)
- 1Password (macOS)

What could be the cause?

Please note that I'm assuming that the computer you have Chrome on is
different from than the one you ran 1Password on.

TOTP stands for Time-based One-Time Password algorithm. The two biggest
deciding factors for what code gets generated are the secret and the
current time. Since you can generate correct codes from other devices we
can rule out the secret being incorrect as an issue. Additionally, since
other chrome extensions generate the same codes, while incorrect, we can
rule out an a bug in the extension from being the cause. Basically, Chrome
is reporting the wrong time to both extensions, causing the wrong code to
be generated.

The most likely reason for this is that your system time isn't set
correctly. In Windows go to date and time settings and check if network
time synchronization is enabled.

On Sat, May 5, 2018, 7:28 AM eggnima <notifications@github.com> wrote:

> @mymindstorm <https://github.com/mymindstorm> After some experimentation,
> I've some weird findings. The TOTP generated via Google Chrome extensions
> seem to all generate the same TOTP, but they cannot be authenticated:
>
>    - Authenticator (Chrome)
>    - 1Password (Chrome)
>
> TOTPs generated by external apps can be authenticated successfully:
>
>    - Google Authenticator (iOS)
>    - 1Password (macOS)
>
> What could be the cause?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/Authenticator-Extension/Authenticator/issues/127#issuecomment-386802119>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/>
> .
>
 

@mymindstorm In actual fact, 1Password and Chrome are both running on the same Macbook Pro. I've also tried the following:

- Unchecking 'Set date and time automatically' in 'System Preferences', changing the date, and then rechecking 'Set date and time automatically'
- Changing different NTPs (Apple Asia, Apple Europe and Apple Americas/U.S.'
- Manually changing time zones and setting them back to the correct time zone

But nothing worked...

If you switch to [a new profile](https://support.google.com/chrome/answer/2364824) does it still happen?

@mymindstorm, creating a new profile, and switching to it nets the same result. :/

- Follow [these directions](https://github.com/Authenticator-Extension/Authenticator/wiki/Getting-Debugging-Information#chrome) to get to the console
- Paste this into the console window, but don't hit enter yet
```javascript
console.log((new Date()).getTime()/1000);console.log("Offset: " + localStorage.offset)
```
- Open Terminal on the device Chrome is running on
- Get ready to execute this command, but don't execute it yet.
```bash
sleep 5 && date +%s
```
Run the command in the terminal first and switch to the Chrome console. After 5 seconds the terminal will finish running the command and display a number. As soon as the terminal command finishes run the command you pasted into the chrome console window. If you mess up you can repeat the commands as many times as needed, just make sure to redo them both and not just one.

These numbers both represent the current time down to seconds, so it is important that you run the command in the chrome window as soon as the number in the mac terminal appears. After you think you have a good reading paste the output of both commands here.
 

@mymindstorm , here are the results:

macOS Terminal: 1525667404
Chrome Console: 1525667405.092

So, quite close I'd say?

What was the value after offset?

On Sun, May 6, 2018, 11:30 PM eggnima <notifications@github.com> wrote:

> @mymindstorm <https://github.com/mymindstorm> , here are the results:
>
> macOS Terminal: 1525667404
> Chrome Console: 1525667405.092
>
> So, quite close I'd say?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/Authenticator-Extension/Authenticator/issues/127#issuecomment-386954615>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AagJ7ilYnBG8GiX6Uj8xC3CPit9VkWxSks5tv84BgaJpZM4Tvt3h>
> .
>


@mymindstorm , my bad. Here's an updated result set:

macOS Terminal: 1525672387
Chrome Console: 1525672388.557, Offset: -1

Honestly, as long as you are 100% sure the secret value is correct I have no idea what could cause more than one Chrome extension to generate the wrong codes since your clock seems to be fine. I should have asked this earlier, but do all the accounts you add generate the wrong codes or is it just this one? 

@mymindstorm, I actually had a similar issue with a 1Password Chrome extension, where the Chrome extension would generate an incorrect TOTP, but the 1Password App for macOS and iOS, even the 1Password web interface were correct.

Also, interestingly enough, the TOTP generated by the 'incorrect' 1Password Chrome extension was exactly the same as generated by Authenticator.

Eventually, their development team figured out the issue, that it lay with their handling of the `period` parameter in the TOTP URL.

The thread link to my post in the 1Password forum can be found [here](https://discussions.agilebits.com/discussion/89616/totp-error/p1?new=1).

Weird, I didn't really consider that since Google Authenticator is supposed to ignore that. Mabye it's a difference between the iOS and Android versions? That would  explain why I couldn't reproduce. Anyway, since this issue is a bit long I'll close it and open a feature request at #131

Thanks for the help!